<html>
	<head>
		<script type = "text/javascript" src = "/static/jquery-1.11.0.js"></script>
		<script type = "text/javascript" src = "/static/jquery.validate.min.js"></script> 

		<script type = "text/javascript">

			$(document).ready(function()
			{
				$(".cell").click(function()
				{
					var id = $(this).attr("id");
					alert(id);
				});
			});
		</script>
	</head>


	<body>

		<p id = "change">
			This is where amazing happens!
		</p>

		<p>
			{{ table_url }}
		</p>

		<table border = "1">
			<tr>
				{% for col in gt_list|dictsort:"col" %}
					<td>
						<b><u> {{ col.value }} </u></b>
					</td>
				{% endfor %}
			</tr>

			<tr>
				{% for col in schema_list|dictsort:"col" %}
					<td>
						<b> {{ col.value }} </b>
					</td>
				{% endfor %}
			</tr>

			{% for row in row_list|dictsort:"row" %}
				<tr>
					{% for col in row.cell|dictsort:"col" %}
						<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}">
							{{ col.value }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
