{% extends "showtable.html" %}

{% block script_extension %}
		$("button#yes").click(function()
		{
			$.post("/display/relres/",
				{
					result_id : "{{ result_id }}",
					verdict : "1"
				},
				function (data, status)
				{
					alert("Data: " + data + "\nStatus: " + status);
				});
		});

		$("button#no").click(function()
		{
			$.post("/display/relres/",
				{
					result_id : "{{ result_id }}",
					verdict : "-1"
				},
				function (data, status)
				{
					alert("Data: " + data + "\nStatus: " + status);				
				});
		});
{% endblock %}


{% block entity_col_id %}
	<p align = "center">
		{% if result_verdict == 1 %}
			<font size = "5" color = "green"> Correct</font>.
		{% elif result_verdict == -1 %}
			<font size = "5" color = "red"> Incorrect</font>.
		{% else %}
			<font size = "5" color = "blue"> NULL</font>.
		{% endif %}

		<p align = "center">
			<button><a href = "/display/showrelation/?id={{ result_id|add:'1' }}">Next Result</a></button>
		</p>
	</p>
{% endblock %}


{% block optional_row %}
	<td></td>
	{% for col in gt_list|dictsort:"col" %}
		{% if col.col == entity_col %}
			<td>
				<font color = "blue"><b><u> Entity Column </u></b></font>
			</td>
		{% elif col.col == result_col %}
			<td>
				<font color = "blue"><b><u> Attribute Column </u></b></font>
			</td>
		{% else %}
			<td></td>
		{% endif %}
	{% endfor %}
		
{% endblock %}


{% block td_description %}
	{% if col.col == result_col or col.col == entity_col %}
		<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}" bgColor = #BFEFFF>
	{% else %}
		<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}">
	{% endif %}
{% endblock %}


{% block body_extension %}
	<p align = "center"><font size = "4">  The relationship between the entity column and the attribute column is : </font></p>
	<p align = "center"> <font color = "red" size = "4"> {{ result_relation }} </font> </p>
	<p align = "center"><font size = "4">
	Is this appropriate? <button id = "yes">Yes! </button>&nbsp;<button id = "no">No! </button>
	</font></p>
	<p align = "center">
		<button><a href = "/display/showrelation?id={{result_id|add:'1'}}" >Next Result</a></button>
	</p>
{% endblock %}
