<html>
	<head>
		<script type = "text/javascript" src = "/static/jquery-1.11.0.js"></script>
		<script type = "text/javascript" src = "/static/jquery.validate.min.js"></script> 
		<script type = "text/javascript">

			$(document).ready(function()
			{
				{% block cell_click %}
				$(".cell").click(function()
				{
					var id = $(this).attr("id");
					var split = id.split('_');
					var table_id = split[0];
					var row = split[1];
					var col = split[2];

					$.post("/display/showcell/",
						{
							table_id : table_id,
							row : row,
							col : col
						},
						function(data, status)
						{
							alert("Data: " + data + "\nStatus: " + status);
						}
					      );
				});
				{% endblock cell_click %}
				{% block script_extension %}
				{% endblock script_extension %}
			});
		</script>
		<link href = "/static/bootstrap.min.css" rel = "stylesheet" />
		<style>
			.table
			{
				font-family : Verdana;
			}
			td
			{
				text-align : center;
				vertical-align : middle;
			}
		</style>
	</head>


	<body><section class = "table">

		{% block table_id %}
		<p align = "center">
			Table id : {{ table_id }}
		</p>
		{% endblock table_id %}

		{% block entity_col_id %}
		<p id = "change" align = "center">
			Entity Column : {{ entity_col }}
		</p>
		{% endblock entity_col_id %}

		<p align = "center">
			{{ table_url }}
		</p>

		<table border = "1" align = "center">

			{% block optional_row %}
			<tr>
				<td></td>
				{% for col in gt_list|dictsort:"col" %}
					<td>
						<b><u> {{ col.value }} </u></b>
					</td>
				{% endfor %}
			</tr>
			{% endblock optional_row %}

			<tr>
				<td></td>
				{% for col in schema_list|dictsort:"col" %}
					<td>
						<b> {{ col.value }} </b>
					</td>
				{% endfor %}
			</tr>

			{% for row in row_list|dictsort:"row" %}
				{% block tr_description %}
				<tr>
				{% endblock tr_description %}
					<td>
						{{ row.row }}
					</td>
					{% for col in row.cell|dictsort:"col" %}
						{% block td_description %}
						<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}">
						{% endblock td_description %}

						{% block cell_color %}
						{% if col.matched %}
							<font color = "red"> {{ col.value }} </font>
						{% else %}
							{{ col.value }}
						{% endif %}
						{% endblock cell_color %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>

		{% block body_extension %}
		{% endblock body_extension %}

	</section></body>
</html>
