{% extends "showtable.html" %}

{% block script_extension %}
		$("button#yes").click(function()
		{
			$.post("/display/relres/",
				{
					result_id : "{{ result_id }}",
					verdict : "1"
				},
				function (data, status)
				{
					alert("Data: " + data + "\nStatus: " + status);
				});
		});

		$("button#no").click(function()
		{
			$.post("/display/relres/",
				{
					result_id : "{{ result_id }}",
					verdict : "-1"
				},
				function (data, status)
				{
					alert("Data: " + data + "\nStatus: " + status);				
				});
		});
{% endblock %}


{% block entity_col_id %}
	<p align = "center">
		{% if result_verdict == 1 %}
			<font size = "5" color = "green"> Correct</font>.
		{% elif result_verdict == -1 %}
			<font size = "5" color = "red"> Incorrect</font>.
		{% else %}
			<font size = "5" color = "blue"> NULL</font>.
		{% endif %}

		<p align = "center">
			<button><a href = "/display/showrelation/?id={{ result_id|add:'1' }}">Next Result</a></button>
		</p>
	</p>
{% endblock %}


{% block optional_row %}
	<td></td>
	{% for col in gt_list|dictsort:"col" %}
		{% if col.col == entity_col %}
			<td>
				<b><u> ENTITY COLUMN </u></b>
			</td>
		{% elif col.col == result_col %}
			<td>
				<font color = "blue"><b><u> RESULT COLUMN </u></b></font>
			</td>
		{% else %}
			<td></td>
		{% endif %}
	{% endfor %}
		
{% endblock %}



{% block body_extension %}
	<p align = "center"> The relationship between the entity column and the result column is : </p>
	<p align = "center"> <font color = "red"> {{ result_relation }} </font> </p>
	<p align = "center"> 
	Is this appropriate? <button id = "yes">Yes! </button>&nbsp;<button id = "no">No! </button>
	</p>
	<p align = "center">
		<button><a href = "/display/showrelation?id={{result_id|add:'1'}}" >Next Result</a></button>
	</p>
{% endblock %}
