<html>
	<head>
		<script type = "text/javascript" src = "/static/jquery-1.11.0.js"></script>
		<script type = "text/javascript" src = "/static/jquery.validate.min.js"></script> 

		<script type = "text/javascript">

			$(document).ready(function()
			{
				$(".cell").click(function()
				{
					var id = $(this).attr("id");
					var split = id.split('_');
					var table_id = split[0];
					var row = split[1];
					var col = split[2];

					$.post("/display/showcell/",
						{
							table_id : table_id,
							row : row,
							col : col
						},
						function(data, status)
						{
							alert("Data: " + data + "\nStatus: " + status);
						}
					      );
				});

				{% block script_extension %}
				{% endblock script_extension %}
			});
		</script>

	</head>


	<body>

		<p align = "center">
			Table id : {{ table_id }}
		</p>

		<p id = "change" align = "center">
			Entity Column : {{ entity_col }}
		</p>

		<p align = "center">
			{{ table_url }}
		</p>

		<table border = "1" align = "center">
			<tr>
				{% block optional_row %}
					<td></td>
					{% for col in gt_list|dictsort:"col" %}
						<td>
							<b><u> {{ col.value }} </u></b>
						</td>
					{% endfor %}
				{% endblock optional_row %}
			</tr>

			<tr>
				<td></td>
				{% for col in schema_list|dictsort:"col" %}
					<td>
						<b> {{ col.value }} </b>
					</td>
				{% endfor %}
			</tr>

			{% for row in row_list|dictsort:"row" %}
				<tr>
					<td>
						{{ row.row }}
					</td>
					{% for col in row.cell|dictsort:"col" %}
						<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}">
							{% if col.matched %}
								<font color = "red"> {{ col.value }} </font>
							{% else %}
								{{ col.value }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>

		{% block body_extension %}
		{% endblock body_extension %}

	</body>
</html>
